@page
@model ResetAuthenticatorModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Hasaba alyş açaryny pozmak"].Value;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="alert warning" role="alert">
    <p>
        <strong>@Localizer["Eger siz hakykylygyň barlagynyň açaryny ýatyrsaňyz, onda barlag goşundysy onuň konfigurasiýasyny üýtgedýänçäňiz işlemez."]</strong>
    </p>
    <p>
        @Localizer["Bu proses siz öz autentifikator goşundyňyzy barlaýan wagtyňyza çenli  2FA öçürýär. Eger siz authenticator goşundyňyzyň sazlamasyny tamamlamasaňyz, siz öz akkauntyňyza girişden mahrum bolup bilersiňiz."]
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <div class="reset__button">
            <button type="submit" id="reset-authenticator-button">@Localizer["Hasaba alyş açaryny pozmak"]</button>
        </div>
    </form>
</div>