@page
@model ForgotPasswordModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Açarsözüňizi unutdyňyzmy?"].Value;
}

@section SubTitle{
    @await Html.PartialAsync("_PageSubTitle", Localizer["Açarsözi pozmak üçin salgylanma iberer ýaly e-mail girizmegiňizi soraýarys"])
}

<div class="authorization__field">
    <div asp-validation-summary="All" style="color:red;" class="error"></div>
    <div class="authorization__log">
        <form method="post">
            <div class="login-group">
                <input asp-for="Input.Email" class="inpt" required placeholder="@Localizer["Email"]">
            </div>
            <div class="authorization__button">
                <input type="submit" id="submit" value="@Localizer["Tassyklamak"]" class="column button active">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
