@page
@model ForgotPasswordConfirmation
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Üstünlikli"].Value;
}

<p>
    @Localizer["Açarsözi ýatyrmak üçin email salgyňyzy barlaň."]
</p>

