@page
@model LockoutModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Bu akkaunt böwetlendi"].Value;
}

<p>@Localizer["Bu akkaunt böwetlendi, biraz soňra gaýtadan synanyşyň"]</p>
