@page
@model LoginWithRecoveryCodeModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Dikeldiş kodunyň barlagy"].Value;
    string ErrorClass = ModelState.IsValid ? string.Empty : "error";
}

@section SubTitle{
    @await Html.PartialAsync("_PageSubTitle", Localizer["Siz ulgama dikeldiş kody bilen girmek üçin ýüz tutduňyz. Bu login ulgama girende ýa-da 2FA öçürip, gaýtadan gireniňizde authenticator goşundysynyň koduny berýän wagtyňyza çenli ýatda saklanmaz."])
}

<form method="post">
    <div class="authorization__field">
        <div asp-validation-summary="All" style="color:red;" class="error"></div>
        <div class="authorization__log">
            <div class="password-group @ErrorClass">
                <input asp-for="Input.RecoveryCode" class="inpt" required placeholder="@Localizer["Dikeldiş kody"]">
            </div>
            <div class="authorization__button">
                <input type="submit" id="submit" value="@Localizer["Hasaba alyş"]" class="column button active">
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
