@page
@model LogoutModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Çykmak"].Value;
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@Localizer["Siz goşundydan üstünlikli çykdyňyz"].</p>
</header>