@page
@model ResetPasswordConfirmationModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Üstünlikli"].Value;
}

<p>
    @Localizer["Siziň açarsözüňiz pozuldy."] <a asp-page="./Login">@Localizer["Ulgama girmek üçin şu ýere basyň."]</a>.
</p>

